In [2]:
import pandas as pd
import numpy as np
from itertools import product

def expand_grid(dictionary):
   return pd.DataFrame([row for row in product(*dictionary.values())],
                       columns=dictionary.keys())

dictionary = {'pogoda': ['goraco', 'letnio', 'zimno', 'mrozno'],
              'dyscyplina': ['lina', 'bouldering', 'czasowki'],
              'staz_wspinaczkowy': ['<3', '3-10', '>10'],
              'płeć': ['kobieta', 'mezczyzna'],
              'samopoczucie': ['zmeczony', 'wypoczęty', 'srednie']}

dane = expand_grid(dictionary)

np.random.seed(42)
dane['Y'] = np.random.choice(['skaly', 'scianka', 'dom'], dane.shape[0])
dane.to_csv("dane.csv", header=False,index=False)

In [3]:
dane

     pogoda dyscyplina staz_wspinaczkowy       płeć samopoczucie        Y
0    goraco       lina                <3    kobieta     zmeczony      dom
1    goraco       lina                <3    kobieta    wypoczęty    skaly
2    goraco       lina                <3    kobieta      srednie      dom
3    goraco       lina                <3  mezczyzna     zmeczony      dom
4    goraco       lina                <3  mezczyzna    wypoczęty    skaly
..      ...        ...               ...        ...          ...      ...
211  mrozno   czasowki               >10    kobieta    wypoczęty    skaly
212  mrozno   czasowki               >10    kobieta      srednie      dom
213  mrozno   czasowki               >10  mezczyzna     zmeczony    skaly
214  mrozno   czasowki               >10  mezczyzna    wypoczęty  scianka
215  mrozno   czasowki               >10  mezczyzna      srednie  scianka

[216 rows x 6 columns]